body {
  color: white;
  text-shadow: 2px 1px 2px black;
  background: rgb(235,235,235);
  background: radial-gradient(circle, rgba(235,235,235,1) 0%, rgba(138,138,138,1) 54%, rgba(88,88,88,1) 100%);
  font-family: 'Courier', monospace;
}
hr {
  border-top: 2px solid gray;
  border: 2px solid gray;
}
